<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Spring Boot</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<h3 class="text-center">Not Found</h3>

<div class="text-center">
    <img width="35%" height="15%" th:src="@{/404.png}" alt="avatar"/>
</div>
<p class="text-center">Log out or go back.</p>
<div class="text-center">
    <form th:action="@{/app-logout}" method="POST">
        <button type="submit" class="btn btn-lg btn-danger mb-2">Logout</button>
    </form>
</div>

</body>
</html>